<% content_for :title, "New Project" %>

<h1 class="mb-4">New Project</h1>

<div class="card shadow-sm p-4">
  <%= render "form", project: @project %>
</div>

<div class="mt-4">
  <%= link_to "Show this project", @project, class: "btn btn-info me-2" if @project.persisted? %>
  <%= link_to "Back to projects", projects_path, class: "btn btn-secondary" %>
</div>
